

body{
    background-color: aliceblue;
    font-family: 'Lucida Console';
}


header{
    background-color:lavenderblush;
    text-align:center;
}

h1, h2{
    font-family: 'Lucida Sans Unicode';
    color:blueviolet;
}

ul{
    position:absolute;
    top: 70px;
    width: 150px;
    height: 500px;
    padding: 15px;
    background-color:lavender;
    color:blueviolet;
}


ul a{
    text-decoration: none;
    font-size: 15px;
}

ul a:hover{
    text-decoration: underline;
}

article a{
    position: relative;
    margin: 40px;
    float: left;
    top: 50px;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    color: blueviolet;
}

article a:nth-child(1)
{
    border: 4px solid lavender;
}

article a:nth-child(1):hover
{
    background-color: lavender;
}

article a:nth-child(2)
{
    border: 4px solid lavenderblush;
}

article a:nth-child(2):hover
{
    background-color: lavenderblush;
}

article{
    position: absolute;
    left: 300px;
}

p{
    font-size: 25px;
}


table{

    border: 4px solid blueviolet;
  }

  th{
    border: 2px solid blueviolet;
    background-color: lavender;
  }

  td{
    border: 1px solid blueviolet;
    background-color: lavenderblush;
  }