body
{
	margin: 0px;
	padding: 0px;
	background-image: linear-gradient(rgba(0, 0, 30, 0.8), rgba(0, 0, 30, 0.8)), url(tlo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: sans-serif;
}

.registrationbox 
{
	width: 430px;
	height: 580px;
	background: #3a3642;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	
}

.avatar
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -11%;
	left: calc(50% - 50px);
	
}

h1
{
	margin: -10px;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px; 
}

.registrationbox  p
{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

.registrationbox  input
{
	width: 100%;
    background: transparent;
    outline: 1px;
    border: 1px;
	padding: 8px;
    
	
}


.registrationbox input[type="submit"]
{
	border: none;
	height: 40px;
	outline: none;
	color: #fff;
	background: #696374;
	font-size: 16px;
	border-radius: 15px;
    
    
    
}

.registrationbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #1c3c80;
}

.registrationbox i
{
    margin-left: 8px;
    color: #999;
    position: relative;
}

.inputbox 
{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.registrationbox input[type="email"]::placeholder, input[type="password"]::placeholder, input[type="text"]::placeholder
{
    text-indent: 5px;
   
}