body
{
	margin: 0px;
	padding: 0px;
	background-color: aliceblue;
	background-position: center;
	font-family: sans-serif;
}

.loginbox 
{
	width: 320px;
	height: 420px;
	background: #3a3642;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	
}

.avatar
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -15%;
	left: calc(50% - 50px);
	
}

h1
{
	margin: 0px;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px; 
}

.loginbox p
{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

.loginbox input
{
	width: 100%;
	margin-bottom: 20px;
	
}

.loginbox input[type="text"], input[type="password"], input[type="email"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	
}

#zaloguj
{
	border: none;
	height: 40px;
	outline: none;
	color: #fff;
	background: #696374;
	font-size: 16px;
	border-radius: 15px;
}

#zaloguj:hover
{
	cursor: pointer;
	background: #ad273d;
}

.loginbox a
{
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	color: #e9e6e6;
}

.loginbox a:hover
{
	color: #ad273d;
}
.submitow{
	text-align: center;
}